{% extends 'base.html.twig' %}

{% block body %}
{{ form(form) }}
<br>
<a href='{{ path('admin.panel') }}'><button class='btn btn-primary'>Panel</button></a>
<a href='{{ path('app_logout') }}'><button class='btn btn-primary'>Logout</button></a>
{% endblock %}
